@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./assets/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Martel';
  src: url('./assets/fonts/Martel/Martel-Light.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
